*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 10px 30px;
}
.nav-items{
    display: inline-flex;
    margin-left: 300px;
}
nav img{
    margin-left: -10px;
    width: 100px;
}
nav .icons{
    width: 250px;
    margin-left: 130px;
}
.nav-item {
    font-size: 20px;
    margin: 20px 30px;
    font-weight: 100;
}
.nav-item:hover{
    color: orangered;
    cursor: pointer;
}
.active-item{
    font-weight: bold;
    color: orangered;
}
.intro-section{
    display: flex;
    justify-content: space-between;
    margin: 30px 10px;
}
h3{
    font-size: 30px;
    font-weight: 100;

}
.left-section img{
    width: 50px;
}
h1{
    font-size: 60px;

}
h5 img{
    background: orangered;
    border-radius: 50%;
    /* margin: 10px 20px; */
    padding: 2px;

}
.sub-headlines{
    margin-top: 40px;
    margin-left: 80px;
}
.sub-headline{
    font-size: 21px;
    letter-spacing: 1px;
}
.sub-headline img{
    width: 30px;
    margin-top: 10px;

}
span{
    margin-top: 15px;
    margin-left: 15px;
    position: absolute;
}
.text{
    margin-left: 10px;
    margin-top: 20px;
    line-height: 20px;
    color: gray;
    width: 600px;
}
button{
    margin-right: 30px;
    background-color: orangered;
    width: 170px;
    height: 50px;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: large;
}
button:hover{
    background: #000;
    cursor: pointer;
    transition: .3s ease;
}
.left-section button{
    margin-top: 50px;
}
.right-section .headphone-div img:first-child{
    width: 130px;
    margin-top: 230px;
    margin-left: -540px;
    /* position: absolute; */
}
.right-section .headphone-div .discount-content{
    /* position: absolute; */
    margin-left: -505px;
    margin-top: 260px;
    width: 200px;
    font-size: 15px;
    color: #fff;

}
.discount-content{
    margin-top: -150px;
    width: 300px;
    height: 200px;
    /* position: relative; */

}
.discount-content .discount{
    width: 100px;
    margin-top: -10px;

}
.discount-content h1{
    font-size: 30px;
    margin-left: -90px;
}
.discount-content h4{
    margin-left: -90px;
}
.right-section img{
    width: 430px;
}
.dots-wrap{
    /* display: inline-block; */
    margin-left: 1120px;
    margin-top: -110px;
    position: absolute;
    /* align-items: center; */
}
.dots{
    display: flex;
    margin-bottom: 10px;
}
.dots .yellow-dot{
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: yellow;
}
.dots .tomato-dot{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: red;
    margin-left: 40px;
}
.dots .black-dot{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: black;
    margin-left: 20px;
}
.dots-wrap .action-btn{
    margin-left: -30px;
}
.fa-solid{
    font-size: 33px;
    padding: 10px 20px;
    opacity: 0;

}

@media(max-width: 560.78px) {
    nav img{
        width: 100px;
        /* margin-left: 30%; */

    }
    .fa-solid{
        opacity: 1;
    }
    .left-section h1,h3{
        /* border: 3px solid red; */
        text-align: center;
        /* margin-top: 20px; */
    }
    .text{
        margin-top: 40px;
        font-size: 19px;
        width: 400px;
        flex-wrap: wrap;
    }
   
    .nav-item{
        display: none;
    }
    .icons{
        display: none;
    }
    .intro-section{
        flex-direction: column-reverse;
    }
    .left-section{
        margin-top: -50px;

    }
    .left-section h1{
        font-size: 42px;
        margin: 10px 0px;
    }
    .right-section{
        margin: auto;

    }
    .right-section img{
        width:370px;
    }
    .sub-headlines{
        margin: auto;
        align-items: center;
        margin-left: 30%;

    }
    .text{
        width: 100%;
    }
    .action-btns{
        padding: 0px 55px;
        margin-bottom: 110px;

    }
    
    .dots-wrap{
        margin-left: 200px;
    }
}
